/* CSS for pdf*/

@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700,500);

@page{
    size: A4;
    margin: 4cm 10cm 5cm 5cm;
}

.book{
    background-color: #e4e3ca;
    font-family: 'Roboto', sans-serif;
}

.page-inner,
.book .book-body .page-wrapper .page-inner{
    font-size: 1em;
}

p, li{
    font-family: 'Roboto', sans-serif, ;
    color: #585858;
    font-weight: 300;
}


h1, h2, h3, h4, h5, h6{
    font-family: 'Roboto', sans-serif;
}

h1{
    color: #F60;
    font-weight: 900;
    text-transform: uppercase;
}

h2{
    color: #F60;
}

h3,
.book .book-body .page-wrapper .page-inner section.normal h3 {
    color: gray;
    text-transform: uppercase;
    font-weight: 300;
}

h4{
    color: gray;
    text-transform: uppercase;
}

h1, h2, h3,
.book .book-body .page-wrapper .page-inner section.normal h1,
.book .book-body .page-wrapper .page-inner section.normal h2,
.book .book-body .page-wrapper .page-inner section.normal h3{
    font-size: 1.5em;
}

h4, h5, h6,
.book .book-body .page-wrapper .page-inner section.normal h4,
.book .book-body .page-wrapper .page-inner section.normal h5,
.book .book-body .page-wrapper .page-inner section.normal h6{
    font-size: 1.2em;
}

p,
.book .book-body .page-wrapper .page-inner section.normal p{
    text-align: justify;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

blockquote p,
.book .book-body .page-wrapper .page-inner section.normal blockquote p{
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    letter-spacing: -.051ex;
}

a, .glossary-term,
.book .book-body .page-wrapper .page-inner section.normal a,
.book .book-body .page-wrapper .page-inner section.normal .glossary-term {
    color: #000000;
    text-decoration: none;
    font-weight: 400;
}

li.active>a,
.book .book-summary ul.summary li a:hover, .book .book-summary ul.summary li.active>a {
    color: #F60;
    font-weight: 900
}

img,
.book .book-body .page-wrapper .page-inner section.normal img {
    border: 0;
    max-width: 100%;
    margin: 1em 0;
    border-radius: 5px;
}